<div id="player" class="fixed inset-x-0 bottom-0 z-10 lg:left-112 xl:left-120">
  <%= tag.div yield, id: "audio", class: "flex items-center gap-6 bg-white/90 py-4 px-4 shadow shadow-slate-200/80 ring-1 ring-slate-900/5 backdrop-blur-sm md:px-6" %>
</div>
