<div class="py-10 sm:py-12">
  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <p class="font-mono text-sm font-medium leading-7 text-slate-900">
          We couldn't find any episodes matching "<%= search.query %>".
        </p>
      </div>
    </div>
  </div>
</div>
